
a {
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: red;
}

.btn-lg, .footer-section{
  background-color: red;
  color: white;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
